# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Environment variables
.env
*.env

# Logs and temp files
*.log
*.tmp
*.bak
*~

# IDE/editor settings
.vscode/
.idea/

# Python packaging
build/
dist/
*.egg-info/

# Docker artifacts
docker-compose.override.yml